<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.tbcserver.mapper.DiscoverMapper">
	
	<select id="projectList" resultType="com.team2.tbcserver.vo.ProjectVO">
		SELECT	id,
				creatorId,
				longTitle,
				shortTitle,
				mainImg,
				content,
				category,
				url,
				tags,
				fundingGoalAmount,
				favoriteCount,
				fundingStart,
				fundingEnd,
				rewards,
				favoriteCount,
				fundedAmount,
				sponsorCount,
				createdDate,
				updatedDate
		FROM 	project
	   ORDER BY fundedAmount DESC
	</select>
	
	<select id="countProject" parameterType="Long" resultType="Long">
	SELECT COUNT(id)
	  FROM project
	</select>

	<select id="amountUnder100" resultType="com.team2.tbcserver.vo.ProjectVO">
	<![CDATA[ 	
		SELECT	*
		  FROM	project
		 WHERE fundedAmount<1000000
	]]>
	</select>
	
	<select id="amount100to1000" resultType="com.team2.tbcserver.vo.ProjectVO">
	<![CDATA[ 	
		SELECT	*
		  FROM	project
	   	 WHERE fundedAmount>1000000 && fundedAmount<10000000;
	]]>
	</select>
	
	<select id="amount1000to5000" resultType="com.team2.tbcserver.vo.ProjectVO">
	<![CDATA[ 	
		SELECT	*
		  FROM	project
	   	 WHERE fundedAmount>10000000 && fundedAmount<50000000;
	]]>
	</select>
	
	<select id="amount5000toMillion" resultType="com.team2.tbcserver.vo.ProjectVO">
	<![CDATA[ 	
		SELECT	*
		  FROM	project
	   	 WHERE fundedAmount>50000000 && fundedAmount<100000000;
	]]>
	</select>
	
	<select id="amountOverMillion" resultType="com.team2.tbcserver.vo.ProjectVO">
	<![CDATA[ 	
		SELECT	*
		  FROM	project
	   	 WHERE fundedAmount>100000000;
	]]>
	</select>
	

</mapper>