<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.tbcserver.mapper.MemberMapper">
	
	<select id="fetch" resultType="com.team2.tbcserver.vo.MemberVO">
		 SELECT id,
			    userId,
			    pwd,
			    name,
			    nickname,
			    signUpDate,
			    intro,
			    profileImg,
			    tel,
			    address,
			    myProjects,
			    likeProjects,
			    fundProjects,
			    fundLog,
			    payment,
			    role,
			    status
		   FROM member
		   ORDER BY id
	</select>
	
	<select id="fetchBy" parameterType="Long" resultType="com.team2.tbcserver.vo.MemberVO">
		 SELECT id,
			    userId,
			    pwd,
			    name,
			    nickname,
			    signUpDate,
			    intro,
			    profileImg,
			    tel,
			    address,
			    myProjects,
			    likeProjects,
			    fundProjects,
			    fundLog,
			    payment,
			    role,
			    status
		   FROM member
		  where id= #{id};
	</select>
	
	<select id="login" parameterType="String" resultType="com.team2.tbcserver.vo.MemberVO">
		 SELECT id,
			    userId,
			    pwd,
			    name,
			    nickname,
			    signUpDate,
			    intro,
			    profileImg,
			    tel,
			    address,
			    myProjects,
			    likeProjects,
			    fundProjects,
			    fundLog,
			    payment,
			    role,
			    status
		   FROM member
		  where userId = #{userId} and status = 1;
	</select>
	
	<insert id="join" parameterType="com.team2.tbcserver.vo.MemberVO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
			INSERT INTO member(
						name,
						userId,
						pwd,
						signUpDate)
			VALUES(
						#{name},
						#{userId},
						#{pwd},
						SYSDATE())
	</insert>
	
	<update id="updateUser" parameterType="com.team2.tbcserver.vo.MemberVO">
		UPDATE 	member
		   SET
		   		nickname = #{nickname},
		   		intro = #{intro},
		   		pwd = #{pwd},
		   		tel = #{tel},
		   		address = #{address},
		   		payment = #{payment},
				status = #{status}
		 WHERE 	id = #{id}
	</update>
	
	<update id="update" parameterType="com.team2.tbcserver.vo.MemberVO">
		UPDATE 	member
		SET
				pwd = #{pwd},
				name = #{name},
				nickname = #{nickname},
				signUpDate = #{signUpDate},
				intro = #{intro},
				profileImg = #{profileImg},
				tel = #{tel},
				address = #{address},
				myProjects = #{myProjects},
				likeProjects = #{likeProjects},
				fundProjects = #{fundProjects},
				fundLog = #{fundLog},
				payment = #{payment},
				role = #{role},
				status = #{status}
		WHERE 	id = #{id} AND userId=#{userId}
	</update>
	
 	<delete id="deleteBy" parameterType="Long">
		DELETE FROM member WHERE id = #{id}
	</delete>	
		
</mapper>