input {
  margin-top: 10px;
  margin: 2px;
  margin-right: 10px;
  font-size: x-small;
}
input:focus {
  animation-name: border-focus;
  outline-color: red;
}

.logindiv1 {
  margin-bottom: 15px;
}
.logintext1 {
  color: #9b9b9b;
  font-size: x-small;
}

.logintext2 {
  padding: 0.5rem;
  text-align: center;
}
.logintext3 {
  padding: 0.8em;
  text-align: center;
}
.logintext4 {
  padding: 0.4em;
  text-align: center;
}
.a1 {
  text-align: center;
  color: red;
}
.mar {
  margin-top: 20px;
}
