div > span {
  text-align: right;
  float: right;
  font-size: smaller;
}
#first {
  margin-top: 1rem;
}
.div1 {
  color: black;
  font-size: medium;
  font-weight: bold;
  text-align: left;
}
.div2 {
  width: fit-content;
  color: gray;
  text-align: left;
  font-size: medium;
  margin-top: 1rem;
}

.bold {
  font-weight: bold;
}
.p1 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  font-size: medium;
  font-weight: bold;
}
.p2 {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: small;
  color: rgb(160, 158, 158);
}
#paper {
  margin-left: 10px;
}

input::placeholder {
  font-size: x-small;
}
.input2::placeholder {
  font-size: small;
}
input::text {
  font-size: small;
}
button {
  background: transparent;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  color: rgb(39, 163, 255);
  font-weight: normal;
  text-decoration: none;
  outline: 0;
}

.btn1 {
  text-align: center;
}
