#title {
  margin-left: 0.15em;
  margin-top: 0.5em;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: -0.03em;
  color: #575555;
  text-align: left;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
