.full {
  align-items: left;
}
.title {
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
  }
.category {
    text-align: center;
    color: black;
  }
.row {
  flex: 1;
  flex-direction: row;
  }
.flex {
  text-align: left;
  flex: 1;
  flex-direction: row;
  float: right;
  padding-left: 5;
  }

.img {
  align-items: right;
  margin-left: 150px;
  width: 600px;
  height: 350px;
  object-fit: cover;
  }
.community {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: black;
  }
.backgound {
color: gray;
}